html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.custom-content {
  max-width: 1100px;
}
.logo {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.custom-layout-title{
  background-color: lightgray;
}

.custom-layout .custom-navigation .mdl-navigation__link:hover {
  background-color: green;
  color: #37474F;
}
.custom-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  margin-right: 32px;
}

.mdl-layout__header-row span.mdl-layout-title {
  color: orange;
  text-transform: uppercase;
}
.mdl-layout__header .material-icons {
  color: #fff;
}
.mdl-layout__header a.mdl-navigation__link {
  color: #eee;

}
.mdl-layout__header a.mdl-navigation__link:hover {
  color: orange;
  font-weight: bold;
}
